@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand-50: #f5f3ff;
  --color-brand-100: #ede9fe;
  --color-brand-500: #7c3aed;
  --color-brand-600: #6d28d9;
  --color-brand-700: #5b21b6;
}

:root {
  --background: #f7f6fb;
  --foreground: #1a1530;
  color: rgba(112, 0, 146, 0.205);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}